*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lightgray_color{
    color: lightgray;
}

.bg-burger{
    height: 100px;
    background-color: rgb(255, 185, 56);
    padding-left: 30px;
    padding-top: 30px;
}

.bg-price{
    height: 100px;
    background-color: orangered;

}

.main-wrap{
    padding: 25px;
}

.ingredient{
    width: 40px;
    height: 40px;
    background-color: orangered;
    border-radius: 50%;
}

.inline-block{
    display: inline-block; 
}

.red-color{
    color: red;
}

.mr-10{
    margin-right: 10px;
}

.calculate-btn{
    border-radius: 4px;
    background-color: rgb(255, 185, 56);
    padding: 8px 15px;
}

.button-wrap{
    text-align: center;
}

#yourPrice{
    font-size: 2em;
    text-align: right;
}